@if (User.IsInRole("Korisnik"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Knjige" asp-action="Lista">Knjige</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Iznajmljivanja" asp-action="Moja">Moja iznajmljivanja</a>
    </li>
}
