@model Biblioteka.Models.Iznajmljivanje

@{
    ViewData["Title"] = "Iznajmljivanje knjige";
}

<h1>Iznajmljivanje</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Iznajmi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <input asp-for="KorisnikId" class="form-control" />
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerakId" class="control-label"></label>
                <input asp-for="PrimerakId" class="form-control" />
                <span asp-validation-for="PrimerakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokVracanja" class="control-label"></label>
                <input asp-for="RokVracanja" class="form-control" />
                <span asp-validation-for="RokVracanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iznajmi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
